ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f0f0f;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #21c387;
  }
    body {
      color: rgb(15, 15, 15);
      background-color: #f9f4f4;
    }
    h3{
      text-align-last: center;
    }
    body{
    width: auto;
    border: 15px solid rgb(12, 12, 12);
    padding: 50px;
    margin: 20px;
  }
  img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    background-color: #0f0f0f;
    padding: 10px;
    text-align: center;
  }
  .header {
    padding: 20px;
    text-align: center;
  }
  .fa-instagram {
    background: #88125f;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  